*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Dela Gothic One', cursive;
  background-image: url('http://www.sfondilandia.it/1024/DylanDog03.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper{
  max-width: 980px;
  margin: auto;
}

.main_title{
  font-size: 100px;
  color:yellow;
  text-shadow: 12px -13px 0px black;
  padding-top: 30px;
  text-align: center;
}
h1,.little_title {
   -webkit-text-stroke: 1px black;
   color: yellow;
   text-shadow:
       1px 1px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
.second_title{
  color: red;
  background-color: black;
  font-size: 30px;
  width: 35%;
  margin: auto;
  text-align: center;
}
.text_up{
  text-transform: uppercase;
}
.list_container{
  padding: 80px;
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
}
.list{
  flex-basis: 60%;
}
.list_element{
  color: yellow;
}
.input_container{
  padding-left:50px;
}
.text_imput{
  background-color: black;
  color: yellow;
  border: 2px solid yellow;
  border-radius: 3px;
}
button{
  display: block;
  margin-top: 20px;
  background-color: yellow;
  border: 2px solid black;
  padding: 5px;
  border-radius: 3px;
  font-size: 20px;
  box-shadow: 5px -5px 0px black;
  cursor: pointer;
}
button:focus {
  outline: none;
}
.list_element{
  position: relative;

}
.got{
  position: absolute;
  right: 0;
  color: black;
  background-color: red;
  font-size: 15px;
  padding: 0 10px;
  cursor: pointer;
  margin: 5px;
}
