*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Dela Gothic One', cursive;
}
.wrapper{
  max-width: 1000px;
  background-color: red;
  margin: auto;
}

.main_title{
  font-size: 100px;
  color:yellow;
  text-shadow: 12px -13px 0px black;
  padding-top: 30px;
  text-align: center;
}
.second_title{
  color: red;
  background-color: black;
  font-size: 30px;
  width: 35%;
  margin: auto;
  text-align: center;
}
.text_up{
  text-transform: uppercase;
}
.list_container{
  padding: 80px;
  display: flex;
  justify-content: center;
}
.input_container{
  padding-left:50px;
}
button{
  display: block;
  margin-top: 10px;
  background-color: yellow;
  border: 2px solid black;
  padding: 5px;
  border-radius: 3px;
}
